@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #7c7c7c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1b1e;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--color-primary);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-primary: #c1c2c5;
  --color-secondary: #6ee7b7;
  --color-wrong-char: #f87171;
  --color-correct-char: #e2e8f0;
  --color-bright-green: #6ee7b7;
  --color-focus-area: #232429;
  --color-cyan-primary: #2dd4bf;
  --animate-blink: blink 1s infinite;
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}

@layer components {
  .caret {
    @apply inline-block w-[2px] h-8 bg-white animate-blink absolute;
  }
}
